<div class="well">

<% if flash.any? %> 
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
<% end %>
  
  <div class="well"> 
    <h1 class="text-center" >Hello! Welcome to my friendship demo application</h1></br>
    <h4 class="text-center1">Ready to make some friends? Please log in or create an account to get started.</h4>
  </div>
  

  <h2>Log in</h2></br>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: false, class: 'form-control' %>
    </div>
  
    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>
  
    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
  
    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-primary' %>
      <%= link_to 'Create Account', new_user_registration_path, class: 'btn btn-info btn-small' %>
    </div>
  <% end %>


</div>