<!DOCTYPE html>
<html>
  <head>
    <title>Friendship</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/navbar' %>

    <div class="container-fluid">
      <% flash.each do |key, mesg| %>
        <div class="alert alert-<%= key %>">
          <%= mesg %>
        </div>
      <% end %>
    </div>
    
    <%= yield :main_content %>
    
    <div class="container-fluid">
      <h1><%= yield :header %></h1>
    
      <%= yield %>
    </div>
    

  </body>
</html>
